# {{ ansible_managed }}

[Unit]
Description=Flanneld overlay address etcd agent
Documentation=https://github.com/coreos/flannel
After=network.target
Before=docker.service
 
[Service]
Type=notify
ExecStart=/usr/bin/flannel \
  -etcd-cafile=/var/lib/kubernetes/ca.pem \
  -etcd-certfile=/var/lib/kubelet/{{ ansible_hostname }}.pem \
  -etcd-keyfile=/var/lib/kubelet/{{ ansible_hostname }}-key.pem \
  -etcd-endpoints={% for item in groups['controller'] %}https://{{ hostvars[item].ansible_host }}:2379{{ "," if not loop.last else ""}}{% endfor %} \
  -etcd-prefix=/kubernetes-cluster/network \
  -public-ip={{ hostvars[inventory_hostname]['ansible_enp0s8']['ipv4']['address'] }} \
  -iface=enp0s8 \
  -ip-masq
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
