{
  "CN": "{{ item.prefix }}{{ item.name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "DE",
      "L": "Weimar",
      "O": "{{ item.o }}",
      "OU": "Kubernetes the Ansible Way",
      "ST": "Thuringia"
    }
  ]
}