[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-config.yaml \
  --container-runtime=docker \
  --image-pull-progress-deadline=2m \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --node-ip={{ hostvars[inventory_hostname]['ansible_enp0s8']['ipv4']['address'] }} \
  --register-node=true \
  --allow-privileged \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
