# {{ ansible_managed }}

[Unit]
Description=Flanneld overlay address etcd agent
Documentation=https://github.com/coreos/flannel
After=network.target
Before=docker.service
 
[Service]
Type=notify
ExecStart=/usr/bin/flannel \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --etcd-certfile={{ etcd_certfile }} \
  --etcd-keyfile={{ etcd_keyfile }} \
  --etcd-endpoints={% for item in groups['master'] %}https://{{ hostvars[item].ansible_host }}:2379{{ "," if not loop.last else ""}}{% endfor %} \
  --etcd-prefix=/kubernetes-cluster/network \
  --public-ip={{ hostvars[inventory_hostname]['ansible_enp0s8']['ipv4']['address'] }} \
  --iface=enp0s8 \
  --ip-masq=true
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
