apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', 'certificates/ca.pem') | b64encode }}
    server: https://{{ item.server }}:6443
  name: kubernetes-the-ansible-way
contexts:
- context:
    cluster: kubernetes-the-ansible-way
    user: {{ item.prefix }}{{ item.name }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.prefix }}{{ item.name }}
  user:
    client-certificate-data: {{ lookup('file', 'certificates/{{ item.name }}.pem') | b64encode }}
    client-key-data: {{ lookup('file', 'certificates/{{ item.name }}-key.pem') | b64encode }}
